{% extends "base.html" %}

{% block content %}
<h3>Authorise API access on your behalf</h3>
<p class="authorize-salutation">Hi, {{ person.displayName.0 }}, the following application:</p>

<p class="list"><b>{{ client.title }}: </b>{{ client.description }}</p>
<p>would like to act on your behalf{% if account.type.value != "user" %} <strong>in your role as {{ account.type.label }}</strong>{% endif %} with the following permissions:</p>

<ul class="authorize-scopes">
{% for scope in scopes %}
<li class="authorize-scope-detail">
  <p><b>{{ scope.title }}: </b>{{ scope.description }}</p>
</li>
{% endfor %}
</ul>

<div class="buttons">
<form method="post" action="{{ authorize_url }}">
<input type="hidden" name="client_id" value="{{ client.id }}">
<input type="hidden" name="redirect_uri" value="{{ redirect_uri }}">
<input type="hidden" name="csrf_token" value="{{ csrf_token }}">
{% if state is not none %}<input type="hidden" name="state" value="{{ state }}">{% endif %}
{% if scopes is not none %}<input type="hidden" name="scope" value="{% for scope in scopes %}{{ scope.id }} {% endfor %}">{% endif %}
<input type="submit" name="approve" value="Approve">
<input type="submit" name="reject" value="Reject">
</form>
</div>

{% endblock %}
